<div class="row message read">
  <div class="col-xs-1">
    <div class="row">
      <div class="col-xs-2">
        <input type="checkbox"
           name="checkbox"
           checked={{isChecked}}
           {{action "toggleChecked" on="change"}}/>
      </div>
      <div class="col-xs-2">
        <i class="star fa fa-star-o"></i>
      </div>
    </div>
  </div>

  <div class="col-xs-11">
    <a href="#"{{action "toggleMessage" on="click"}}>
      {{subject}}
    </a>
    {{#if messageOpen}}
    <p>{{body}}</p>
    {{/if}}
  </div>
</div>
